@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
  --cor-principal: #5CE1E6;
  --cor-2:#324B4C;
  --cor-3:#95B0B1;
  --cor-4:#FFBD98;
  --cor-5:#CD8865;
  --Cor-preta: #000000
  --Cor-branco: #ffffff
}
